<h3 class="titulo-ofertas">¡Ofertas!</h3>
<section class="ofertas">

    <% products.forEach(producto => { %>

    <article>
        <img src="/images/<%=producto.image%>" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre"><%= producto.name%></p>
        <p class="precio"><%= producto.price%></p>
        <p class="ver-mas"><a href="/products/<%=producto.id%>">Ver más</a></p>
    </div>

    </article>

    <% }) %>

</section>